@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-right: 50px;
} */
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Start of custom css additions */

.topPageHeader{
  background-color: #5a63e5;
  width: 100%;
  position: absolute;
  top: 0;
  height: 5rem;
  padding:0;
  left: 0;
  margin-bottom: 100px;
  color: white;
}
.HeaderHomeButton{
  color: white;
  font-size: 20px;
  font-weight:bold;
  display:inline-block;
  position: absolute;
  left:0;
  margin-left:20px
}
.HeaderLoginButton{
  color: white;
  font-size: 17px;
  font-weight:bold;
  display:inline-block;
  position: absolute;
  top:0;
  margin-top: 30px;
  margin-left:20px
}
.HeaderPageText{
  color: white;
  font-size: 15px;
  font-weight:bold;
  text-align: right;
  position: absolute;
  right:0;
  margin-right: 300px;
  display:inline-block;

}

.HeaderPageUserLogo{
height: 2rem;
}

.img_size{
  height: 12.5rem;
  width: 15rem;
  display: block;
  float:right;
  margin-top: 1.5rem;
  margin-right: 1rem;

}



.article_box{

  background-color: #bec1ea;


}

.comment_box{
  margin-right: 10px;
}


.articles-container{
 background-color: #535bf2;
 padding: 3rem;
 margin: 1rem;
}

.topicsList{
  display: flex;
  margin-left: 18rem;
  margin-right: 16rem;
}
.topicsButtons{
  background-color: #747bff;
  margin-right: 2rem;
  color:white;
}




.topicsList{
  display: flex;
  margin-left: 0rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.articleHeader{
  background-color: #8e91c9;
}

.img_articlepage{
  height: 12.5rem;
  width: 15rem;
  display:block;
  float: right;
}

.articleParagraph{
  text-align: left;
  display: flex;
}

.text-box{
  background-color: #a8acf2;
  display: flex;
  text-align: left;
}

.commentInfo{
  background-color: #535bf2;
  display: block;

}

.interactComment{
  background-color: white;
  display: flex;
  margin-bottom: 4rem;
}

.author{
  font-weight: bold;
}

.articleInteract{
  background-color: white;
  display: flex;
}

.articles-container{
  background-color: #535bf2;
  padding:0.75rem;
  width: 100%;
  margin: 0;
 }


.articleVoteBox{
  background: white;
  display: flex;
  margin-right: 5rem;
}

.commentButton{
  background-color: #ffffff;
}

.addComment{
  background-color: rgb(255, 150, 70);
  margin-left: 300px;
  margin-right: 300px;
  display: flex;
  padding: 10px;
}

.inputComment{
  background-color: white;
  height: 50px;
  width:500px;
  margin-left: 20px;
  padding-left: 5px;

}
.inputTextComment{
  resize: none;
  background-color: white;
  color: black;
}


.articleContent{
  text-align: justify;
  }
  

.userList{
  list-style-type: none;
  /* semicolons: false; */
}
 

 .pageContainer{
  height: 667px;
  width: 100%;
  margin-top: 100px;


} 


.mt_auto{
margin-top:auto
}

h2{
  font-size: 20px;
  text-align: left;
  margin-left: 10px;
}
.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

.link {
  display: block;
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
}

.articleHeader{
background-color: #8e91c9;
font-size: 10px;
margin: 5px;
}
* {
  box-sizing: border-box;
}
.self-end{
  align-self: flex-end;

}

.container{
  /* display:flex;
  flex-direction:column;
  justify-content: space-between; */
  height: 100%;
  width: 100%;
}

.tile{
  height: 100%;
  width: 100%;
}

.individualArticleContainer{
background-color: #535bf2;
 padding:0;
 margin-top: 50px;
 width:100%;
text-align: justify;
}

.img_articlepage{
height:10rem;
width: 10rem;
float: right;
margin-bottom: 5rem;
}

.articleParagraph{
font-size: 0.75rem;
margin-left: 0.5rem;
}

.text-box{
background-color: #a8acf2;
display: flex;
}

.commentInfo{
background-color: #535bf2;
display: block;

}

.interactComment{
background-color: white;
display: flex;
margin-bottom: 0rem;

}

.articleContent{
text-align: justify;
}

.author{
font-weight: bold;
}

.articleInteract{
background-color: white;
display: flex;
height: 3rem;
}

.articleVoteBox{
background: white;
color:black;
display: flex;

}

.commentButton{
background-color: #ffffff;
}

.addComment{
background-color: rgb(255, 150, 70);
margin-left: 0rem;
margin-right: 0.1rem;
display: flex;
padding: 0.5rem;
}

.inputComment{
background-color: white;
height: 3rem;
width:7rem;
margin-left: 1rem;
margin-right: 1rem;
padding-left: 0.3rem;

}

.topicsPageButtons{
background-color: #747bff;
margin-right: 0.1rem;
height: 5rem;
width: 10rem;
margin-bottom: 1rem;
margin-left:0.1rem;
margin-top: 1rem;
color: white;
}



@media (max-width: 600px){

.topPageHeader{
  background-color: #5a63e5;
  width: 100%;
  position: absolute;
  top: 0;
  height: 5rem;
  padding:0;
  left: 0;
  margin-bottom: 100px;
  color: white;
}
.HeaderHomeButton{
  color: white;
  font-size: 20px;
  font-weight:bold;
  display:inline-block;
  position: absolute;
  left:0;
  margin-left:20px
}
.HeaderLoginButton{
  color: white;
  font-size: 17px;
  font-weight:bold;
  display:inline-block;
  position: absolute;
  top:0;
  margin-top: 30px;
  margin-left:20px
}
.HeaderPageText{
  color: white;
  font-size: 15px;
  font-weight:bold;
  text-align: right;
  position: absolute;
  right:0;
  margin-right: 10px;
  display:inline-block;

}

.HeaderPageUserLogo{
height: 2rem;
}

  .img_size{
    height:5rem;
    width: 7rem;
    float:right;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
  
  }
  .article_box{

    background-color: #bec1ea;
     margin-right:0.1rem;
    margin-left: 0.1rem; 
    height:30rem;
    width:17rem;
    display:block
  
  }

  .comment_box{
    margin-right: 10px;
  }


  .topicsButtons{
    background-color: #747bff;
    margin-right: 0.1rem;
    height: 2.5rem;
    margin-left:0.1rem;
  }
  .topicsList{
    display: flex;
    margin-left: 0rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  .articles-container{
   background-color: #535bf2;
   padding:0.75rem;
   width:20rem;
   margin: 0;
  }

  .pageContainer{
    height: 667px;
    width: 375px;
    margin-top: 50px;
  

  }

  h2{
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
  }
  
.articleHeader{
  background-color: #8e91c9;
  font-size: 10px;
  margin: 5px;
}


.individualArticleContainer{
  background-color: #535bf2;
   padding:0;
   margin-top: 50px;
   width:100%;
  text-align: justify;
}

.img_articlepage{
  height:10rem;
  width: 10rem;
  float: right;
  margin-bottom: 5rem;
}

.articleParagraph{
  font-size: 0.75rem;
  margin-left: 0.5rem;
}

.text-box{
  background-color: #a8acf2;
  display: flex;
}

.commentInfo{
  background-color: #535bf2;
  display: block;

}

.interactComment{
  background-color: white;
  display: flex;
  margin-bottom: 0rem;

}

.articleContent{
text-align: justify;
}



.articleInteract{
  background-color: white;
  display: flex;
height: 3rem;
}

.articleVoteBox{
  background: white;
  display: flex;

}

.commentButton{
  background-color: #ffffff;
}

.addComment{
  background-color: rgb(255, 150, 70);
  margin-left: 0rem;
  margin-right: 0.1rem;
  display: flex;
  padding: 0.5rem;
}

.inputComment{
  background-color: white;
  height: 3rem;
  width:7rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 0.3rem;

}

.topicsPageButtons{
  background-color: #747bff;
  margin-right: 0.1rem;
  height: 5rem;
  width: 10rem;
  margin-bottom: 1rem;
  margin-left:0.1rem;
}

.filterButtons{
  background-color: #f9f9f9;
  color:black
}

.filterButtons:focus{
  background-color: black;
  color:white;
}

}
